<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Edit a meal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
<div class="container mt-4">
<nav class="d-flex justify-content-between px-4 mt-4">
    <div><h1 class="text-primary">Hi {{session ['relation']}} !!!</h1></div>
    <div><a class="btn btn-primary" href="/dashboard">VIEW ALL MEALS</a>
    <a class="btn btn-primary" href="/logout">LOG OUT</a>
    </div>
</nav>
<div class="row mt-4">
<h4 class="text-center text-primary"> Edit Meal: {{meal.meal}} :)</h4>
<div class="col-8 mx-auto">
<div class="row mt-4">
    <div class="col"><form action="/meal/{{ meal.id }}/update" method="POST">
        {% with messages = get_flashed_messages(category_filter=["meal"]) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="mb-3">
            <label for="Meal" class="form-label">Meal:</label>
            <input type="text" class="form-control" id="Meal" name="meal" value="{{meal.meal}}">
        </div>
        <div class="mb-3">
            <label for="Date" class="form-label">Date:</label>
            <input type="date" class="form-control" id="Date" name="date" value="{{meal.date}}">
        </div>
        <div class="mb-3">
            <label for="Time" class="form-label">Time:</label>
            <input type="time" class="form-control" id="Time" name="time" value="{{meal.time}}">
        </div>
        <div class="mb-3">
            <label for="Liked" class="form-label">Liked?:</label>
            <input type="text" class="form-control" id="liked" name="liked" value="{{meal.liked}}">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description:</label>
            <textarea cols="5" rows="8" class="form-control" id="description" name="description" value="{{meal.description}}">{{meal.description}}</textarea>
        </div>
        <input class="btn btn-success" type="submit" value="UPDATE">
    </form>
    </div>
    <div class="col mx-10 px-4"><img width="400px" height="600px" src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGZvb2R8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="food"></div>
</div> 
</div>
</div>
</div>
</body>
</html>